/*-------------------------------------------------
    [ ## reset ]
*/
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background: rgb($body__color);
    color: rgb($color__paragraph);
    font-size: $small__font;
    font-weight: 400;
    line-height: $font__line_height_body;
    overflow-x: hidden;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

input,
textarea {
    width: 100%;
}

span {
    display: inline-block;
}
/*-------------------------------------------------
    [ ## Typography ]
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: $font__line_height_heading;
    color: rgb($color__heading);
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: $heading__one;
    font-weight: 700;

    @media only screen and (max-width: 1700px) {
        font-size: 60px;
    }

    @media only screen and (max-width: 1023px) {
        font-size: 55px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 38px;
    }

    @media only screen and (max-width: 575px) {
        font-size: 30px;
    }
}

h2 {
    font-size: $heading__two;
    font-weight: 700;

    @media only screen and (max-width: 1279px) {
        font-size: 38px;
    }

    @media only screen and (max-width: 1023px) {
        font-size: 28px;
    }

    @media only screen and (max-width: 575px) {
        font-size: 24px;
    }
}

h3 {
    font-size: $heading__three;
    font-weight: 700;

    @media only screen and (max-width: 1023px) {
        font-size: 28px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 22px;
    }
}

h4 {
    font-size: $heading__four;
    font-weight: 700;

    @media only screen and (max-width: 1279px) {
        font-size: 18px;
    }
    @media only screen and (max-width: 1023px) {
        font-size: 16px;
    }
}

h5 {
    font-size: $heading__five;
    font-weight: 700;

    @media only screen and (max-width: 1023px) {
        font-size: 14px;
    }

    @media only screen and (max-width: 1279px) {
        font-size: 16px;
    }
}

h6 {
    font-size: $heading__six;
    font-weight: 700;
    
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}

::selection{
    background-color: #d4ecff;
}

*::-webkit-scrollbar {
    height: 20px;
    width: 5px;
    background: #f1f1f1;
    border-radius: 10px;
}
  
*::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
}
  
*::-webkit-scrollbar-corner {
    background: #C4C4C4;
    border-radius: 10px;
}

.sidebar-menu{
    &::-webkit-scrollbar {
        display: none;
    }
    &:hover{
        &::-webkit-scrollbar {
            display: block;
        }
    }
}
.visitor-slider{
    &::-webkit-scrollbar {
        display: none;
        height: 5px;
        width: 20px;
    }
    &:hover{
        &::-webkit-scrollbar {
            display: block;
        }
    }
}
.table-wrapper{
    &::-webkit-scrollbar {
        height: 5px;
    }
}
.tab-wrapper{
    &::-webkit-scrollbar {
        display: none;
    }
}