@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

.chip {
    position: relative;
    /* top: 60px;
    left: 25px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}
.chip .chip-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
}
.chip .chip-line:nth-child(1) {
    top: 13px;
}
.chip .chip-line:nth-child(2) {
    top: 20px;
}
.chip .chip-line:nth-child(3) {
    top: 28px;
}
.chip .chip-line:nth-child(4) {
    left: 25px;
    width: 1px;
    height: 50px;
}
.chip .chip-main {
    width: 20px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 3px;
    background: #fff;
    z-index: 1;
}
